<div class="columns detail">
  {{#if (regexMatch @root.request.url.pathname "^/digital-champions/training" "gi")}}
  {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
  {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
  {{/if ~}}
  {{else}}
  <div class="column col-8 col-md-12 r-padding-full">
    <img src="{{~>asset_url url=(concat 'images/' (itemAt (arrayify (split @root.request.url.pathname '/')) 1) '.png')~}}" alt="" class="responsive-img text-center show-sm b-margin-full b-padding-full" />
    {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
    {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
    {{/if ~}}
  </div>
  <div class="column col-4 col-md-6 hide-sm l-padding-full" style="margin: 0 auto;">
    {{#if (regexMatch @root.request.url.pathname "^/digital-champions|^/for-organisations" "gi")}}
      <ul class="side-nav">
        {{#each (getProperty @root.context.metaData.menus (itemAt (split @root.request.params.path '_') 0)) ~}}
        <li><a class="{{#if (regexMatch @root.request.url.pathname route 'gi')}}active{{/if}}" href="{{path}}"><span class="mdc-tab--label">{{{label}}}</span></a></li>
        {{/each ~}}
      </ul>
    {{else}}
      <img src="{{~>asset_url url=(concat 'images/' (itemAt (arrayify (split @root.request.url.pathname '/')) 1) '.png')~}}" alt="" class="responsive-img" />
    {{/if}}
  </div>
  {{/if}}
</div>