{{#with data.primaryResponse.hits.hits.[0]._source ~}}
<ul class="breadcrumb breadcrumb-length-3 breadcrumb-43948" aria-hidden="true">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/organisations">Organisations – supporting the most vulnerable to get online</a></li>
  <li class="breadcrumb-item"><a href="/organisations/existing-projects">Existing projects</a></li>
  <li class="breadcrumb-item"><a href="/organisations/existing-projects/awards">Awards</a></li>
  <li class="breadcrumb-item">{{{default organisation_name_full organisation_name}}}</li>
</ul>

<h1>{{{default organisation_name_full organisation_name}}}</h1>

<div class="full detail scvo-grant scvo-grant-cs">
  <ul class="fa-ul">
    {{#if phase ~}}
    <li style="list-style: none;">
      <span class="fa-li"><span class="far fa-file-signature"></span></span>
      {{#if name}}{{name}} in {{/if}}<a href="/organisations/existing-projects/awards?phase={{slugify phase}}">{{phase}}</a>
    </li>
    {{/if ~}}
    {{#if local_authorities}}
    <li style="list-style: none;">
      <span class="fa-li"><span class="far fa-map-marker-alt"></span></span>
      <a href="/organisations/existing-projects/awards?local_authority={{slugify local_authorities}}">{{local_authorities}}</a>
    </li>
    {{/if}}

    {{#if chromebooks ~}}
    <li style="list-style: none;">
      <span class="fa-li"><span class="far fa-laptop"></span></span>
      {{inflect chromebooks "laptop" "laptops" true}}
    </li>
    {{/if ~}}
    {{#if ipads ~}}
    <li style="list-style: none;">
      <span class="fa-li"><span class="far fa-tablet"></span></span>
      {{inflect ipads "tablet" "tablets" true}}
    {{/if ~}}
    {{#if mifi ~}}
    <li style="list-style: none;">
      <span class="fa-li"><span class="far fa-router"></span></span>
      {{inflect mifi "internet connection" "internet connections" true}}
    </li>
    {{/if ~}}
  </ul>

</div>
{{/with ~}}